---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Navigation from "../../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import Content from "../_md/about.md";
---

<html class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Navigation now="About" />
    <main class="prose max-w-3xl py-10">
      <section>
        <Content />
      </section>
    </main>
    <Footer />
  </body>
</html>
