---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Posts from "../components/Posts.astro";
// const { title, description } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Content from "./_md/index.md";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="prose max-w-3xl py-10">
      <section>
        <Content />
      </section>
      <section>
        <h2>Posts</h2>
        <Posts />
      </section>
    </main>
    <Footer />
  </body>
</html>
